.products-list {
  .search-box {
    width: 240px;
  }
  .price-update-box{
    width: 300px !important;
    margin-left: 600px !important;
    margin-right: 5px;
  }
  .select {
    width: 240px;
  }
}